.loader {
    /*свг и/или анимация*/
}

.loader {
    width: 48px;
    height: 48px;
    border: 6px solid #e0e0e0;
    border-top-color: #2979ff; /* акцентний колір */
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}