.button {
    /*padding: 8px 16px;*/
    /*border-radius: 8px;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.2s ease;
    border: none;
    cursor: pointer;

    width: 132px;
    height: 30px;
    /*top: 1465px;*/
    /*left: 574px;*/
    border-radius: 3px;
    /*padding-top: 5px;*/
    /*padding-right: 24px;*/
    /*padding-bottom: 5px;*/
    /*padding-left: 24px;*/
    gap: 10px;

}

/* Типы кнопок */
.default {
    background-color: #0066CC;
    color: #fff;
}

.red {
    background-color: #f44336;
    color: white;
}

.secondary {
    background-color: #e0e0e0;
    color: #333;
}

.disabled {

    background-color: #004D99;
    color: #888;
    cursor: not-allowed;
}

/* Ховеры */
.default:hover {
    background-color: #0080FF;
}
.red:hover {
    background-color: #d32f2f;
}
.secondary:hover {
    background-color: #d6d6d6;
}

/* Active */
.default:active {
    transform: scale(0.97);
}
.red:active {
    transform: scale(0.97);
}
.secondary:active {
    transform: scale(0.97);
}

.button:disabled {
    pointer-events: none;
    opacity: 0.6;
}



/*.button {*/

/*}*/

/*.disabled {*/

/*}*/

/*.secondary {*/

/*}*/

/*.default {*/

/*}*/

/*.red {*/

/*}*/

/*.default:hover {*/

/*}*/

/*.red:hover {*/

/*}*/

/*.secondary:hover {*/

/*}*/


/*.default:active {*/

/*}*/

/*.secondary:active {*/

/*}*/

/*.red:active {*/

/*}*/

/*.button:disabled {*/

/*}*/
