.button {
    /*padding: 8px 16px;*/
    /*border-radius: 8px;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.2s ease;
    border: none;
    cursor: pointer;

    width: 132px;
    height: 30px;
    border-radius: 3px;
    gap: 10px;

}

/* Типы кнопок */
.default {
    background-color: #0066CC;
    color: #fff;
}

.red {
    background-color: #CC1439;
    color: white;
}

.secondary {
    background-color: white;
    color: #0066CC;
    border: 1px solid #0066CC;
}

.disabled {
    background-color: #004D99;
    color: #888;
    cursor: not-allowed;
}

/* Ховеры */
.default:hover {
    background-color: #0080FF;
    transform: scaleX(1.2);
    transition: ease 0.5s;
}
.red:hover {
    background-color: #FF1A47;
    transform: scaleX(1.2);
    transition: ease 0.5s;
}
.secondary:hover {
    background-color: white;
    transform: scaleX(1.2);
    transition: ease 0.5s;
}

/* Active */
.default:active {
    transform: scale(0.97);
}
.red:active {
    transform: scale(0.97);
}
.secondary:active {
    transform: scale(0.97);
}

.button:disabled {
    pointer-events: none;
    opacity: 0.6;
}



/*.button {*/

/*}*/

/*.disabled {*/

/*}*/

/*.secondary {*/

/*}*/

/*.default {*/

/*}*/

/*.red {*/

/*}*/

/*.default:hover {*/

/*}*/

/*.red:hover {*/

/*}*/

/*.secondary:hover {*/

/*}*/


/*.default:active {*/

/*}*/

/*.secondary:active {*/

/*}*/

/*.red:active {*/

/*}*/

/*.button:disabled {*/

/*}*/
